<div class="htk-debug-toolbar" style="display: none;">
  <ul class="htk-debug-panel-list">
    <li class="htk-debug-toolbar-hide htk-debug-list-item">Hide »</li>
    <li class="htk-debug-list-item">
      <span class="masquerade-user-id-title">Masquerade</span>
      <div class="masquerade-form-user-id">
        <input class="masquerade-input" placeholder="User ID"/>
        <button class="masquerade-button">Emulate User</button>
      </div>
      <button class="masquerade-user-id-stop">Stop Masquerading</button>
    </li>
    <li class="htk-debug-list-item">
      <span class="masquerade-username-title">Masquerade</span>
      <div class="masquerade-form-username">
        <input class="masquerade-input" placeholder="Username"/>
        <button class="masquerade-button">Emulate User</button>
      </div>
      <button class="masquerade-username-stop">Stop Masquerading</button>
    </li>
  </ul>
</div>
<a class="htk-debug-toolbar-handle" style="display: block;">
  HTK
  <i class="fa fa-chevron-up" aria-hidden="true"></i>
</a>